<body>
    

<div class="login-box">
    <img src="../../../assets/playa.png" class="avatar" alt="Avatar Image">
    <h1>Login Here</h1>
    <form>
      <!-- USERNAME INPUT -->
      <label for="username">Username</label>
      <input type="text" placeholder="Enter Username">
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password">
      <input type="submit" value="Log In">
      <a href="#">Lost your Password?</a><br>
      <a href="#">Don't have An account?</a>
    </form>
  </div>
</body>