<body>
  <div class="login-box">
    <img src="../../../assets/avatarLogin.png" class="avatar" alt="Avatar Image">
    <h1>Inicio de sesión</h1>
    <mat-form-field appearance="fill">
      <mat-label>Introduce tu correo electrónico</mat-label>
      <input matInput placeholder="ejemplo@ejemplo.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Introduce tu contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-class">
      <button class="button-login" mat-raised-button (click)="doLogin()">Iniciar sesión</button>
      <button class="button-register" mat-raised-button (click)="doNewRegister()" color="primary">Registrarse</button>
    </div>
    <div class="link-class">
      <a routerLink="/recovery">
        ¿Olvidó su contraseña?<br>
        Recuperar su cuenta<br>
        Solicitar email de verificación
      </a>
    </div>
  </div>
</body>